@charset "UTF-8";

.aboutme-wrapper{
    display: flex; /* flexboxを使って中央に配置 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center;   /* 垂直方向に中央揃え */
    margin: 0 12rem; /* 上下左右のマージンを追加 */
    height:40rem;   /* 高さを指定 */
    gap:5rem;
}

.aboutme-text{
    h2{
        font-size: 40px;
    }
    p{
        font-size:20px;
    }
}

.aboutme-image{
    border-radius:50px;
    max-width: 20rem;  /* 最大幅を指定 */
    height: auto;
    object-fit: cover;  /* 画像が枠にフィット */

}
.myskill-wrapper{
    display: flex;
    flex-direction: column;       /* 縦方向に配置 */
    justify-content: center;
    align-items: center;
    margin:0px 0 100px 0;
}
.myskill-wrapper h3 {
    font-size: 30px;              /* フォントサイズを調整 */
    font-style: italic;
    font-weight: normal;
    text-align: center;           /* テキストを中央揃え */
}

.aboutme-icons {
    display: flex;
    justify-content: center; /* アイコンを横並びにする */
    flex-wrap: wrap; /* アイコンが画面に収まりきらない場合に折り返す */
    margin-bottom:200px;
    gap: 200px;
}

.aboutme-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        i{
            font-size: 50px;
            margin-bottom: 10px; /* アイコンと文字の間にスペースを追加 */
        }
        p {
            margin: 0; /* 余分なマージンをリセット */
            font-style: italic;
        }
        .fa-html5{
            color:#E44D26;
        }
        .fa-css3{
            color:#1572B6;
        }
        .fa-sass{
            color:#C76395;
        }
        .fa-js{
            color:#F7DF1E;
        }
}
@media(max-width:670px ){
    main{
        max-width:370px;
        margin:0 auto;
    }
    .aboutme-wrapper{
        margin:0 1rem;
        flex-direction: column;
        height:auto;
        padding-top: 2rem; /* 上に余白を追加して、上の部分が切れないように */
        gap:0;
    }
    .aboutme-text{
        h2 {
            font-size: 1.5rem; /* フォントサイズを調整 */
        }
        p {
            font-size: 1rem;
        }
    }
    .aboutme-image {
        width: 100%; /* 画像の幅を100%に設定 */
        height: auto; /* 高さを自動調整 */
        margin-bottom: 1rem; /* 下に余白を追加 */
    }
    .aboutme-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem; /* アイコンの間隔を調整 */
        height: auto;
        margin:0;
        i{
            width:8rem;
            display: inline-flex; /* フレックスで中央配置 */
            justify-content: center;
            align-items: center;
        }
        p{
            margin-bottom: 3rem;
        }
    }

}
