@charset "UTF-8";


body{
    font-family: "LinotypeUnivers-430Regular", "Gothic Medium BBB", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    margin:0;
    background-color: #efeff0;
}

main{
height:600px;
margin: 0 auto;
}


.nav-link{
margin:0;
padding: 0;
display: flex;
justify-content:center;
align-items: center;
list-style:none;


    li{
        height:200px;
        width:200px;
        display: flex;            /* flexboxを使って中央に配置 */
        justify-content: center;  /* 水平方向に中央揃え */
        align-items: center;      /* 垂直方向に中央揃え */

    }
    a{
        font-family: "Noto Serif Todhri", serif;
        font-weight: 400;
        font-style: normal;
        display: flex;                /* a要素内でもflexboxを使う */
        justify-content: center;      /* a要素内のテキストを水平方向に中央揃え */
        align-items: center;          /* a要素内のテキストを垂直方向に中央揃え */
        text-align: center; 
        color: #000;         /* テキストを中央に */
        font-weight: bold;
        font-size: 25px;
        position: relative; /* 相対位置指定 */
        text-decoration: none; /* 下線を消す */

        &::after{
            content:''; /* 疑似要素を追加 */
            position: absolute; /* 絶対位置指定 */
            left:0; /* 左端から配置 */
            bottom: 0; /* 下端から配置 */
            width: 0; /* 横幅0 */
            height: 2px; /* 高さ2px */
            background-color: #000; /* 背景色を黒に */
            transition: width 0.3s ease, left 0.4s ease; /* 変化をスムーズに */
        }
        &:hover{
            opacity: 0.5;
            &::after{
                width:100%;
                left:0;
            }
        }
        &:active{
            font-size: 20px;
            transition: transform 0.1s ease, font-size 0.1s ease, box-shadow 0.1s ease; /* 変化をスムーズに */
        }
    }
}

.top-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
}
.top-text{
    display: inline-block;
    h1 {
        font-size: 50px;
        margin: 0;
    }
    p {
        font-size: 25px;
        line-height: 80px;
        margin: 0;
    }
}

.topimage-container {
    padding-bottom: 150px 0 0 0;
    margin-top: 100px;

    .top-image{
        display: inline-block;
        height:450px;
    }
}


.contact-wrapper{
    width:1500px;
    margin: 200px 0 0 80px;
}
    .contact-container{
        display: flex;
        p{
            font-size: 25px;
            margin: 0 5px; /* 左右に20pxのマージンを追加 */
        }
    }


    .contact-icons{
        font-size:45px;
        i{
        color: #000;
        margin: 0 10px;
        text-decoration: none;
        }
        i:hover{
            color:#000;
            opacity: 0.5;
        }
        i:active{
            transform: scale(0.9); /* 押したときにアイコンが小さくなる */
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を付けて押した感じを強調 */
            transition: transform 0.1s ease, font-size 0.1s ease, box-shadow 0.1s ease; /* 変化をスムーズに */
        }
}
